<tr>
  <td><%= component.name %></td>
  <td><%= component.description %></td>
  <td><%= link_to 'Show', component %></td>
  <td><%= link_to 'Edit', edit_component_path(component) %></td>
  <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
